<div class="row text-left">
  <a name="dice"></a>
  <h3>Dice.com <small>job listings</small></h3><br>
  <%@dice_jobs.each do |job|%>
    <%= link_to "#{job[:link]}", :target => "_blank" do %>
      <div class="panel job-panel">
        <div class="job-title">
          <%= job[:title] %>
        </div>
        <div class="row company-name">
          <div class="large-6 columns">
            <%= job[:company_name] %>
          </div>
          <div class="large-6 columns text-right location">
            <%= job[:location] %>
          </div>
        </div>
      </div>
    <% end %>
  <%end%>
</div>