<div class="row text-left">
  <a name="indeed"></a>
  <h3>Indeed.com <small>job listings</small></h3><br>
  <%@indeed_jobs.each do |job|%>
    <%= link_to "#{job[:link]}", :target => "_blank" do %>
      <div class="panel job-panel">
        <div class="large-12 columns job-title">
          <%= job[:title] %>
        </div>
        <div class="company-name">
          <%= job[:company_name] %>
        </div>
      </div>
    <% end %>
  <%end%>
</div>