<div class="row">
  <h3>Monster.com <small>job listings</small> </h3>
  <%@monster_jobs.each do |job|%>
    <div class="large-6 small-6 columns panel panel-fix text-center">
      <%= job[:title] %>
      <%= link_to "link", "#{job[:link]}" %>
    </div>
  <%end%>
</div>