<% if current_user.present? %>
  <div class="top-note-pad row">
    <div class="large-10 columns text-left user-name">
      <h3><%= first_name(current_user.name) %>'s Notes</h3>
    </div>
    <div class="large-2 columns">
      <button data-dropdown="drop" aria-controls="drop" aria-expanded="false" class="logout tiny round button dropdown" style="padding-left: 5px;padding-right: 34px;"></button><br>
    </div>
    <div class="large-3 columns text-right">
      <ul id="drop" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="false" tabindex="-1">
        <li><a style='color:white;' id="new-note">New Note</a></li>
        <li><a style='color:white;' id='delete-note'>Delete Note</a></li>
        <li><%= link_to 'Logout', logout_path, method: 'delete', style: "color:white;" %></li>
      </ul>
    </div>
  </div>
  <div class="note-titles">
    <ul class="inline-list" id="title-list" style="display: inline-flex"></ul>
  </div>
  <form>
    <input type="text" class="note-title" id="selected_note_title"></input>
    <textarea id="selected_note"><% if no_notes? %>Add a Note to start editing<% end %></textarea>
    <button class="note-update" id="update-selected-note">Update Note</button>
  </form>
    <div id="dialog" title="Alert message" style="display: none">
    <div class="ui-dialog-content ui-widget-content">
      <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0"></span>
        <label id="lblMessage"></label>
      </p>
    </div>
<% else %>
  <h2>Notes </h2>
  <div class="text-center">
    <h4>Search all you want....</h4>
    <h4>You'll need to log in to use the NotePad</h4><hr/>
    <h3><a href="/auth/twitter" class="note-login button">Login with Twitter</a></h3>
  </div>
<% end %>

<%if current_user.present?%>
  <% content_for :javascript do %>
    <script type="text/javascript">
    var currentUserID = "<%= current_user.id %>"
    </script>
  <% end %>
<% end %>
