<div class="row text-left">
  <a name="simplyhired"></a>
  <h3>SimplyHired.com <small>job listings</small></h3><br>
  <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <%@simplyhired_jobs.each do |job|%>
    <li>
      <%= link_to "http://#{(job[:link])}", :target => "_blank" do %>
        <div id="job-circle">
          <div class="panel job-panel text-center">
            <div class="large-12 columns job-title">
              <%= truncate(job[:title], length: 25) %>
            </div>
            <div class="row company-name">
              <%= job[:company_name] %>
            </div>
            <div class="row location">
              <%= job[:location] %>
            </div>
          </div>
        </div>
      <% end %>
    </li>
  <%end%>
</div>


