<div class="row">
  <h3>SimplyHired.com <small>job listings</small> </h3>
  <%@simplyhired_jobs.each do |job|%>
    <div class="large-6 small-6 columns panel panel-fix text-center">
      <%= job[:title] %>
      <%= link_to "link", "http://#{job[:link]}" %>
    </div>
  <%end%>
</div>