<div class="row">
  <h3>SimplyHired.com <small>job listings</small></h3><br>
  <%@simplyhired_jobs.each do |job|%>
    <div class="large-6 small-6 columns panel fix text-center">
      <div class="job-title">
        <%= job[:title] %>
      </div>
      <div class="job-link">
        <%= link_to "link", "http://#{job[:link]}" %>
      </div>
    </div>
  <%end%>
</div>