/*
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */


.fix {
  overflow:scroll;
  min-height: 100px;
  padding-bottom: 0px;
}

.search {
  border-radius: 10px;
  background-color: #656565;
}

.note-button {
  background-color: #656565;
  border-radius: 0px 0px 81px 81px;
  -moz-border-radius: 0px 0px 81px 81px;
  -webkit-border-radius: 0px 0px 81px 81px;
}

.search-input {
  margin-top: 8px;
}

.job-title {
  z-index: 9;
  color: #FFFFFF;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color:#656565;
  position:relative;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.company-name {
  color:#262626;
  padding-left: 15px;
}

.panel-fix {
  margin: 0;
  width: 275px;
  height: 200px;
  overflow-y:scroll;
}

.job-link {
  img {
    width: 20px;
    height: 20px;
  }
}

.notes{
  right:9%;
  height:573px;
  color: #262626;
  position: absolute;
  background-color: #05C2D1;
  textarea {
    height: 464px;
  }
  a {
    color: #FFFFFF;
    background-color: #656565;
  }
}

.note-fixed{
  position: fixed;
  top: 40px;
}

.job-panel {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  background-color:#05C2D1;
}

.location {
  right: 10px;
}
