/*
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */


.fix {
  min-height: 100px;
  padding-bottom: 0px;
  overflow:scroll;
}

.job-title {
  padding-bottom: 5px;
  padding-top: 5px;
  z-index: 9;
  background-color: white;
  position:relative;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.panel-fix {
  height: 200px;
  width: 275px;
  overflow-y:scroll;
  margin: 0;
}

.job-link {
  img {
    height: 20px;
    width: 20px;
  }
}

.company-name {
  width: 70%;
  margin-left: 16%;
  position: relative;
  padding-bottom: 3%;
  background-color: white;
  -webkit-border-bottom-right-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-bottomright: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
