<div class="magellan-container" data-magellan-expedition="fixed" data-options="destination_threshold:65;throttle_delay:0;">
  <dl class="sub-nav">
    <dd data-magellan-arrival="monster" class=""><a href="#monster">Monster</a></dd>
    <dd data-magellan-arrival="indeed" class=""><a href="#indeed">Indeed</a></dd>
    <dd data-magellan-arrival="simplyhired" class=""><a href="#simplyhired">SimplyHired</a></dd>
    <dd data-magellan-arrival="dice" class=""><a href="#dice">Dice</a></dd>
  </dl>
</div>